a, a:visited, a:hover, a:link, a:active {text-decoration: none}
#root{
    margin: 3px;
}
.App{
    font-family: source-sans-pro, sans-serif;
    margin-right: 2px;
    /* width: 100vw; */
}
.transit-master{
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    width: 100%;
}
.transit{
    background-color: white;
    font-family: sans-serif;
    display: flex;
    width: 100%;
    /* margin-left: 10px; */
    
}
.transit-header{
    display: flex;
    text-decoration: none;

}
.transit-switcher{
    display: flex;
    /* margin-left: 15px; */
    width: 100%;
    /* margin-right: 15px; */
}
#marin{
    /* border-radius: 10px 0 0 0; */
    
}
#busemoji{
    border-right: 1px solid black;
    /* margin: 10px 10px 0px 5px; */
    /* padding-bottom: 10px; */
    /* height: 15px; */
    font-size: 33px;
    width: 40px; 
    padding-right: 3px;
    padding-left: 7px;
}
#busemoji span{
    position: relative;
    top: -10px;
}
div.five-eleven{
    background-color: white;
    border-radius: 10px;
    height: 36px;
    margin: 4px 5px 3px 4px;
    padding: 3px 2px 0px 2px;
}
img.five-eleven{
    height: 33px;
}
.transit-switch-on{
    margin: 10px 1px 0 1px;
    padding: 10px 7px 10px 5px;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-radius: 7px 7px 0 0;
    height: 15px;
    width: 75px;
    background-color: white;
    color: green;
    font-weight: 900;
    font-size: 12px;
    text-decoration: none;
    
}
.transit-switch-off{
    margin: 13px 0 0 1px;
    padding: 9px 7px 11px 5px;
    background-color: lightgray;
    border-radius: 7px 7px 0 0;
    border-top: 1px solid black;
    border-right: 1px solid black;
    color: black;
    height: 12px;
    font-size: 12px;
    width: 75px;
    /* font-weight: 900; */

    /* margin-left: 10px; */
}
.transit-switch-off:hover{
    cursor: pointer;
}
.transit-on{
    display: flex;
    width: 100%;
    /* border-top: 1px solid black; */
    border-radius: 0 0 10px 10px;
    padding: 0px 5px 5px 5px;
    background-color: white;
}
.transit-off{
    display: none;
}
.buss{
    border: 1px solid black;
    border-radius: 3px;
    margin: 10px 5px 5px 5px;
    padding: 5px;
    /* width: 33%; */
}
.bus{
    margin: 10px 0px 0 5px;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 5px 5px 7px 7px;
    /* width: 90%; */
}
.bus div{
    margin: 0 0 3px 0;
}
.gps{
    color: blue;
    text-decoration: none;
}
.gps:active{
    color: purple;
}
.gps sup{
    font-size: 7px;
    color: black;
    position: relative;
    top: -2px;
    left: 1px;
}
.bold{
    font-weight: 900;
}
.gray{
    color: gray;
}
.stop{
    width: 100%;
    margin: 10px 5px 0 5px;
    /* display: flex; */
}
.stop-left{
    /* width: 100%; */
    /* margin: 5px; */
}
.agency-upper{
    display: flex;
}
.short-title{
    margin: 5px 5px 3px 15px;
    font-weight: 900;
}
.radios label{
    margin-right: 5px;
}
label input[type="radio"]{
    margin: 5px 5px 10px 10px;
}
.agency-code{
    font-weight: 900;
    padding: 5px;
    margin: 20px 5px 0px 50px;
    /* position: relative; */
    /* top: -20px; */
    /* left: 30px; */
    font-size: 42px;
    border: 1px solid black;
    border-radius: 3px;
}
.agencies-string{
    margin: 5px 0 5px 15px;
    font-weight: 900;
}
.politics{
    margin: 1px 0 3px 0px;
    font-size: 11px;
    font-weight: 300;
}
.agency-select{
    width: 327px;
    margin: 3px 0px 5px 5px;
    height: 35px;
}
hr{
    width: 327;
    margin: 5px 5px 10px 5px;
}
.load-stops{
    height: 35px;
    /* margin-bottom: 5px; */
    /* width: 100px; */
    /* border: 1px solid red; */
    color: green;
    font-weight: 900;
}
.stop-loads{
    height: 35px;
    font-weight: 900;
    color: gray;
    /* background-color: darkgray; */
}
.stop-loading{
    height: 35px;
    font-weight: 900;
    color: gray;
    /* background-color: darkgray; */
}
.slow{
    font-size: 11px;
    margin: 0px 0 0 5px;
    display: flex;
    height: 50px;
}
.slow div{
    margin: 2px 5px 0px 10px;
}
.stops-number{
    font-weight: 900;
    color: green;
}
.stop-select{
    width: 327px;
    height: 35px;
    margin: -5px 0 5px 5px;
}
.stop-filter{
    height: 35px;
    margin: 5px 0px 5px 5px;
    width: 323px;
}
.stop-info{
    display: flex;
    /* padding-top: 5px; */
}
.stop-title{
    font-weight: 900;
    padding: 3px 5px 3px 5px;
    margin: 3px 5px 5px 5px; 
    font-size: 30px;
    border: 1px solid black;
    border-radius: 3px;
    min-width: 222px;
}
#stop-id{
    height: 35px;
    margin: 5px 0 5px 5px;
    width: 75px;
    padding-left: 5px;
}
.update{
    color: blue;
    text-decoration: underline;
}
.update:hover{
    cursor: pointer
}
.update:active{
    color: purple;
}
#vehicle-agency{
    margin: 5px 5px 0px 5px;
    width: 90px;
}
#vehicle-number{
    margin: 5px 5px 0px 15px;
    width: 110px;
}
.vehicle-info{
    margin: 5px;
}
.future-stops{
    margin-left: 5px;
}
.vehicular{
    background-color: white;
    padding-right: 10px;
}
.vehicular form input{
    margin: 10px;
    /* width: 100px; */
    /* padding: 0px; */
}
.vehicular input[type="submit"]{
    font-weight: 900;
    color: green;
}
.vehicular-feedback{
    font-size: 10px;
    /* margin: -20px 0 10px 25px; */
    position: relative;
    top: -10px;
    left: 15px;
}
#PR-N{
    border-left: 5px solid PURPLE;
    border-right: 5px solid PURPLE;
}
#PR-S{
    border-left: 5px solid PURPLE;
    border-right: 5px solid PURPLE;
}
#RD-N{
    border-left: 5px solid #D4202F;
    border-right: 5px solid #D4202F;
}
#RD-S{
    border-left: 5px solid #D4202F;
    border-right: 5px solid #D4202F;
}
#OR-N{
    border-left: 5px solid #FE8220;
    border-right: 5px solid #FE8220;
}
#OR-S{
    border-left: 5px solid #FE8220;
    border-right: 5px solid #FE8220;
}
#YL-N{
    border-left: 5px solid #FEFE00;
    border-right: 5px solid #FEFE00;
}
#YL-S{
    border-left: 5px solid #FEFE00;
    border-right: 5px solid #FEFE00;
}
#GN-N{
    border-left: 5px solid #41B14A;
    border-right: 5px solid #41B14A;
}
#GN-S{
    border-left: 5px solid #41B14A;
    border-right: 5px solid #41B14A;
}

#BL-N{
    border-left: 5px solid #07A5E1;
    border-right: 5px solid #07A5E1;
}
#BL-S{
    border-left: 5px solid #07A5E1;
    border-right: 5px solid #07A5E1;
}
#GY-N{
    border-left: 5px solid gray;
    border-right: 5px solid gray;
}
